:root {
    --cursor: crosshair;
    --font-family: 'Lucida Console', 'Courier New', Lucida, Courier, monospace;
    --intro: intro 3s ease-in-out 1s;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 5%);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 25%);
}

::-webkit-scrollbar-thumb:active {
    background-color: hsl(0, 0%, 10%);
}

noscript {
    color: white;
    font-size: 1.4em;
    text-align: center;
    display: block;
}

html, body {
    background-color: black;
    font-family:'Lucida Console', 'Courier New', Lucida, Courier, monospace;
    cursor: var(--cursor);
}

header {
    color: white;
    text-align: left;
    float: left;
    font-size: 1.1em;
    position: fixed;
    animation: var(--intro);
}

#main {
    text-align: center;
    animation: var(--intro);
    opacity: 1;
    color: black;
    display: block;
    visibility: visible;
}

hr {
    border: 3px solid white;
    border-radius: 10px;
    width: 95%;
}

/* Click Button */
#click-btn {
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    padding-right: fit-content;
    padding-left: fit-content;
    margin: 1.75px;
    font-size: 2.3em;
    background-color: hsl(348, 83%,47%);
    border: 3px solid transparent;
    border-radius: 7.5px;
}

#click-btn:hover {
    background-color: hsl(348, 76%, 39%);
    cursor: var(--cursor);
}

#click-btn:active {
    background-color: hsl(348, 80%, 50%);
    cursor: var(--cursor);
}

/* Stat Button */
#stat-btn {
    background-color: hsl(30, 97%, 60%);
    cursor: var(--cursor);
}

#stat-btn:hover {
    background-color: hsl(30, 87%, 50%);
    cursor: var(--cursor);
}

#stat-btn:active {
    background-color: hsl(30, 107%, 70%);
    cursor: var(--cursor);
}

/* Settings Button */
#setting-btn {
    background: hsl(0, 0%, 41%);;
    cursor: var(--cursor);
}

#setting-btn:hover {
    background-color: hsl(0, 0%, 31%);
    cursor: var(--cursor);
}

#setting-btn:active {
    background-color: hsl(0, 0%, 51%);
    cursor: var(--cursor);
}

/* Upgrade Button*/
#upgrade-btn {
    background-color: hsl(120, 73%, 75%);
    cursor: var(--cursor);
}

#upgrade-btn:hover {
    background-color:hsl(120, 63%, 65%);
    cursor: var(--cursor);
}

#upgrade-btn:active {
    background-color:hsl(120, 83%, 85%);
    cursor: var(--cursor);
}

/* Achievement Button */
#achievement-btn {
    background-color: hsl(195, 43%, 79%);
    cursor: var(--cursor);
}

#achievement-btn:hover {
    background-color:hsl(195, 33%, 69%);
    cursor: var(--cursor);
}

#achievement-btn:active {
    background-color:hsl(195, 53%, 89%);
    cursor: var(--cursor);
}

/* Popup */
.popup {
    padding: 6.6px;
    margin: 8.9em 0 0 0;
    color: rgba(255, 25, 25, 1);
    outline: 2px solid rgba(255, 25, 25, 1);
    width: max-content;
    display: none;
    visibility: hidden;
    position: fixed;
    right: 13px;
    overflow: visible;
    text-align: right;

    animation-name: popup, popout;
    animation-duration: 3s, 2s;
    animation-delay: 0s, 7s;
    animation-timing-function: ease-in-out, ease-in;
}

.upgpopup {
    padding: 6.6px;
    margin: -1.8em 0 0 0;
    color: rgba(255, 25, 25, 1);
    outline: 2px solid rgba(255, 25, 25, 1);
    width: max-content;
    display: none;
    visibility: hidden;
    position: sticky;
    left: 13px;
    overflow: visible;
    text-align: left;

    animation-name: popup;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
}

/* Sections */
#stats {
    animation-name: stats;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    display: none;
    visibility: hidden;
    text-align: center;
    color: white;
    font-size: 1.3em;
}

#subupgrade, #game, #subachievements, #settings, #upgrades, #manualupgrade, #autoupgrade {
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    display: none;
    visibility: hidden;
}

#achievements, #clicksachievements, #upgradesachievements {
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    text-align: center;
    display: none;
    visibility: hidden;
}

#subupgrade {
    margin-bottom: 3.7em;
}

#game {
    margin-bottom: 9.3em;
}

#subachievements {
    margin-bottom: 10.4em;
}

#clicksachievements {
    margin-bottom: 2.7em;
}

#upgradesachievements {
    margin: 0;
    font-size: 18px;
    font-weight: 1000;
}

/* Sub Divs */
#sub {
    text-align: center;
}

#leftupgrade, #leftachievements, #leftstats {
    text-align: left;
    float: left;
}

#rightupgrade, #rightachievements, #rightstats {
    text-align: right;
    float: right;
}

#perbuy {
    color: white;
    text-align: right;
    float: right;
    font-size: 1.3em;
}

/* Classes */
.button {
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid;
    border-radius: 9px;
    font-size: 1.5em;
    cursor: var(--cursor);
    margin: 1px;
    font-family: var(--font-family);
    letter-spacing: -.5px;
}

.close {
    font-size: 2.3em;
    text-align: right;
    float: right;
    color: hsl(348, 80%, 50%);
}

.close:hover {
    color: hsl(348, 76%, 39%);
}

.close:active {
    color: hsl(348, 83%,47%);
}

.stats:hover, .subdivheader:hover {
    color: hsl(0, 0%, 80%);
}

.upgrade {
    width: -moz-fit-content;
    width: fit-content;
    background-color: hsl(120, 73%, 75%);
    border: 1px solid;
    border-radius: 9px;
    font-size: 2em;
    cursor: var(--cursor);
    font-family: var(--font-family);
    letter-spacing: -2px;
}

.upgrade:disabled, .upgrade:disabled:hover, .upgrade:disabled:active, .upgrade:disabled:focus {
    background-color: hsl(120, 27%, 27%);
    color: black;
}

.achievement {
    color: hsl(348, 80%, 50%);
}

.achievement:hover {
    color: hsl(348, 76%, 39%);
}

.actualachievement {
    font-size: 1.3em;
}

.upgrade:hover {
    background-color:hsl(120, 63%, 65%);
}

.upgrade:active {
    background-color:hsl(120, 83%, 85%);
}

.arrow {
    font-size: 2.35em;
    color: white;
    position: sticky;
}

.arrow:hover {
    color: hsl(0, 0%, 51%);
}

.arrow:active {
    color: hsl(0, 0%, 31%);
}

.subdivheader {
    font-size: 1.3em;
    color: hsl(0, 0%, 100%);
}

.divider {
    border: 4px solid hsl(0, 0%, 100%);
    border-radius: 10px;
}

/* Keyframes / Animation */
@keyframes intro {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes stats {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popup {
    from {
        right: -900px;
    }

    to {
        right: 13px;
    }
}

@keyframes popout {
    from {
        right: 13px;
    }

    to {
        right: -900px;
    }
}
