::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px; 
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 5%);
    border-radius: 15px; 
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 25%);
}

::-webkit-scrollbar-thumb:active {
    background-color: hsl(0, 0%, 10%);
}

noscript {
    color: white;
    font-size: 1.4em;
    text-align: center;
    display: block;
}

html, body {
    background-color: black;
    font-family:'Courier New', Courier, monospace;
    cursor: crosshair;
}

header {
    color: white;
    text-align: left;
    float: left;
    font-size: 1.1em;
    animation-name: intro;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

#main {
    text-align: center;
    animation-name: intro;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    color: black;
}

#main {
    display: block;
    visibility: visible;
}

hr {
    border: 3px solid white;
    border-radius: 10px;
    width: 95%;
}

/* Click Button */
#click-btn {
    width: fit-content;
    padding: 5px;
    padding-right: fit-content;
    padding-left: fit-content;
    margin: 1.75px;
    font-size: 2.3em;
    background-color: hsl(348, 83%,47%);
    border: 3px solid;
    border-radius: 7.5px;
}

#click-btn:hover {
    background-color: hsl(348, 76%, 39%);
    cursor: crosshair;

}

#click-btn:active {
    background-color: hsl(348, 80%, 50%);
    cursor: crosshair;
}

/* Stat Button */
#stat-btn {
    width: fit-content;
    background-color: hsl(30, 97%, 60%);
    border: 3px solid;
    border-radius: 9px;
    font-size: 1.5em;
    cursor: crosshair;
}

#stat-btn:hover {
    background-color: hsl(30, 87%, 50%);
    cursor: crosshair;
}

#stat-btn:active {
    background-color: hsl(30, 107%, 70%);
    cursor: crosshair;
}

/* Settings Button */
#setting-btn {
    width: fit-content;
    background: hsl(0, 0%, 41%);;
    border: 3px solid;
    border-radius: 9px;
    font-size: 1.5em;
    cursor: crosshair;
}

#setting-btn:hover {
    background-color: hsl(0, 0%, 31%);
    cursor: crosshair;
}

#setting-btn:active {
    background-color: hsl(0, 0%, 51%);
    cursor: crosshair;
}

/* Upgrade Button*/
#upgrade-btn {
    width: fit-content;
    background-color: hsl(120, 73%, 75%);
    border: 3px solid;
    border-radius: 9px;
    font-size: 1.5em;
    cursor: crosshair;
}

#upgrade-btn:hover {
    background-color:hsl(120, 63%, 65%);
    cursor: crosshair;
}

#upgrade-btn:active {
    background-color:hsl(120, 83%, 85%);
    cursor: crosshair;
}

/* Achievement Button */
#achievement-btn {
    width: fit-content;
    background-color: hsl(195, 43%, 79%);
    border: 3px solid;
    border-radius: 9px;
    font-size: 1.5em;
    cursor: crosshair;
}

#achievement-btn:hover {
    background-color:hsl(195, 33%, 69%);
    cursor: crosshair;
}

#achievement-btn:active {
    background-color:hsl(195, 53%, 89%);
    cursor: crosshair;
}

/* Sections */
#stats {
    animation-name: stats;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    display: none;
    visibility: hidden;
    text-align: center;
    color: white;
    font-size: 1.3em;
}

#subupgrade {
    animation-name: upgradestats;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    display: none;
    visibility: hidden;
}

#game {
    animation-name: gamestats;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    display: none;
    visibility: hidden;
}

#subachievements {
    animation-name: achievementstats;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    display: none;
    visibility: hidden;
}

#settings {
    animation-name: settings;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    display: none;
    visibility: hidden;
}

#upgrades {
    animation-name: upgrades;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    display: none;
    visibility: hidden;
}

#manualupgrade {
    animation-name: manual;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    display: none;
    visibility: hidden;
}

#autoupgrade {
    animation-name: auto;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    display: none;
    visibility: hidden;
}

#achievements {
    animation-name: achievements;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    text-align: center;
    display: none;
    visibility: hidden;
}

#clicksachievements {
    animation-name: clicks;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    text-align: center;
    display: none;
    visibility: hidden;
}

#upgradesachievements {
    animation-name: upgradesachievements;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    text-align: center;
    display: none;
    visibility: hidden;
}

/* Sub Divs */
#sub {
    text-align: center;
}

#leftupgrade, #leftachievements, #leftstats {
    text-align: left;
    float: left;
}

#rightupgrade, #rightachievements, #rightstats {
    text-align: right;
    float: right;
}

#perbuy {
    color: white;
    text-align: right;
    float: right;
    font-size: 1.3em;
}

/* Classes */
.close {
    font-size: 2.3em;
    text-align: right;
    float: right;
    color: hsl(348, 80%, 50%);
}

.close:hover {
    color: hsl(348, 76%, 39%);
}

.close:active {
    color: hsl(348, 83%,47%);
}

.stats:hover, .subdivheader:hover {
    color: hsl(0, 0%, 80%);
}

.upgrade {
    width: fit-content;
    background-color: hsl(120, 73%, 75%);
    border: 3px solid;
    border-radius: 9px;
    font-size: 2em;
    cursor: crosshair;
}

.achievement {
    color: hsl(348, 80%, 50%);
}

.achievement:hover {
    color: hsl(348, 76%, 39%);
}

.actualachievement {
    font-size: 1.3em;
}

.upgrade:hover {
    background-color:hsl(120, 63%, 65%);
}

.upgrade:active {
    background-color:hsl(120, 83%, 85%);
}

.arrow {
    font-size: 2.35em;
    color: white;
}

.arrow:hover {
    color: hsl(0, 0%, 51%);
}

.arrow:active {
    color: hsl(0, 0%, 31%);
}

.subdivheader {
    font-size: 1.3em;
    color: hsl(0, 0%, 100%);
}

.divider {
    border: 4px solid hsl(0, 0%, 100%);
    border-radius: 10px;
}

/* Keyframes / Animation */
@keyframes intro {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes stats {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes upgradestats {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes gamestats {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes achievementstats {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes settings {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes upgrades {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes manual {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes auto {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes achievements {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes clicks {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes upgradesachievements {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}